<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.catch_my_hand">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="내 손을 잡아"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Catch_my_hand">
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ID_search_Activity"/>
        <activity android:name=".PW_search_Activity"/>
        <activity android:name=".Join_check_Activity"/>
        <activity android:name=".JoinActivity"/>
        <activity android:name=".Main_move_Activity"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".Home_move_Activity"/>
        <activity android:name=".Home_post_Activity"/>
        <activity android:name=".ChatActivity"/>
        <activity android:name=".Chat_list_Activity"/>
        <activity android:name=".SNS_Activity"/>
        <activity android:name=".SNS_detail_Activity"/>
        <activity android:name=".SNS_search_Activity"/>
        <activity android:name=".User_info_Activity"/>
        <activity android:name=".User_info_edit_Activity"/>
        <activity android:name=".Animal_info_Activity"/>
    </application>

</manifest>